article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background: #FFF6E6;
	color: #444;
	font-family: 'Open Sans', sans-serif;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 4em;
	letter-spacing: 1px;
	margin-top: 0;
}

h2 {
	font-size: 2em;
	margin-top: 0;
}

p {
	line-height: 1.5;
}

img {
	max-width: 100%;
}

a,
a:visited {
	color: #FA5C5D;
	transition: all 0.5s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
}

button,
input[type="submit"] {
	border: none;
	background: #FA5C5D;
	color: #fff;
	padding: 20px 35px;
	margin: 25px auto;
	transition: all 0.5s ease-in-out;
}

button:hover,
button:active,
input[type="submit"]:hover,
input[type="submit"]:active {
	background: #444;
}

header {
	text-align: center;
	background: #444;
	color: #FFF6E6;
	padding-top: 1%;
	position: relative;
}

header p {
	margin: 0;
}

header .fa {
	cursor: pointer;
	padding: 5px;
}

header.up {
	top:-40px;
	transition: all 0.5s ease;
}

header.down {
	top: 0;
}

.wrapper {
	max-width: 1000px;
	margin: 10px auto;
	text-align: center;
	padding: 1% 2.5%;
}

.question {
	display: none;
	margin: 50px auto;
	padding: 5% 2%;
	background: #D5EFFF;
	border-radius: 3px;
	position: relative;
	box-shadow: 1px 1px 2px #444;
	transition: all 0.5s ease;
}

.question:before {
	content: "";
	position: absolute;
	top: -50px;
	left: calc(50% - 25px);
	border: 25px solid transparent;
	border-bottom: 25px solid #D5EFFF;
}

.question input[type="radio"] {
	display: none;
}

.question button {
	background: #444;
	color: #fff;
	margin-bottom: 0;
}

.question ul {
	padding: 0;
	margin: 0;
}

.question li {
	display: inline-block;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	margin: 1%;
}

.question img {
	display: block;
	border: 2px solid #444;
	transition: all 0.25s ease;
}

.question img:hover {
	border: 2px solid #FFAC00;
}

input[type=radio]:checked + label img {
	border: 2px solid #FFAC00;
	transform: scale(1.1);
}

.answer {
	margin: 50px auto;
}

.answer-description {
	padding-top: 5%;
	float: left;
	width: 50%;
	text-align: left;
}

.hide {
	display: none;
}

.questionShow {
	display: block;
}

.revealAnimal {
	background: #111;
}

.floated {
	float: left;
	width: 45%;
	margin-right: 5%;
}



footer {
	text-align: center;
	display: none;
	background: #444;
	color: #FFF6E6;
	padding: 1%;
}

/*Media Queries*/


@media all and (max-width: 650px) {
	.floated,
	.answer-description {
		float: none;
		width: 90%;
		margin: 0 auto;
	}

	.answer-description {
		text-align: center;
	}

	img {
		width: 50%;
		margin: 10px auto;
	}
}

@media all and (max-width: 425px) {
	h1 {
		font-size: 3em;
	}
	h2 {
		font-size: 1.5em;
	}
}